transformers>=4.30.0
accelerate>=0.20.0
langchain
langchain-community
langchain-text-splitters
sentence-transformers
nltk
chromadb==0.4.22
requests
scikit-learn
pandas
streamlit
langchain-groq
langgraph
numpy==1.24.3
langchain_chroma
setuptools
setuptools>=42
wheel
build
langchain_huggingface